body {
    font-family: Arial;
  }
  
  ul {
    width: 300px;
    padding: 0;
  }
  
  li {
    list-style: none;
    padding: 8px;
    border: 1px solid #aaa;
    margin: 2px 0;
    cursor: pointer;
  }
  
  .active {
    background-color: lightblue;
  }
  